<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872660837038-ikthah49kgme3krvkq74n2vc59p9ea6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872660837038-ikthah49kgme3krvkq74n2vc59p9ea6h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>872660837038-1rau6th9279mbre82e4r23kebg0qft7p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9nitsbfyvLaEy55AosXIx7LGwQ1mvpRs</string>
	<key>GCM_SENDER_ID</key>
	<string>872660837038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.andre.quizappbackup</string>
	<key>PROJECT_ID</key>
	<string>trying-fireship-les</string>
	<key>STORAGE_BUCKET</key>
	<string>trying-fireship-les.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872660837038:ios:c4f6eefb3de97e2f0d033f</string>
	<key>DATABASE_URL</key>
	<string>https://trying-fireship-les-default-rtdb.firebaseio.com</string>
</dict>
</plist>